
    #fejlec
    {
        font-style: bold;
        color: blueviolet;
    }
    #tablazat
    {
        font-style: italic;
        color: darkblue;
    }

    ol li.important{
        color:brown;
    }
